img {
  box-shadow: 0 4px 16px #254f9a14;
  max-width: 100%;
}

.image {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: .75rem;
}

.product-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
